{{!-- Rendering the blog post and it's information --}}
<div class="blog-post blog-list">
    <div class="card text-bg-dark mb-3 m-2" style="max-width: 80%">
        <h5 class="card-header text-bg-dark mb-3">{{title}}
             <div class="text-end fs-6">Posted on: {{format_date date_created}} by: {{user.name}}</div>
        </h5>

        <div class="card-body text-bg-light mb-3">
            <p class="card-text">{{content}}</p>
        </div>
    </div>
</div>

{{!-- form to leave a comment --}}

<div class="container comment">

    <div class="card text-bg-secondary mb-3 m-2" style="max-width: 80%">
        <h5 class="card-header text-bg-secondary mb-3">Leave A Comment</h5>

        <div class="card-body text-bg-light mb-3">
            <form class="form comment-form">
                <div class="form-group m-2">
                    <label for="comment-des" class="col-6 form-label">comment:</label>
                    <div>
                        <textarea class="form-input col-8" id="comment-des" name="comment-des"></textarea>
                    </div>
                </div>
                <button class="btn btn-secondary" type="submit" data-id="{{id}}">Submit</button>
            </form>
        </div>
    </div>

</div>

{{!-- {{#if}}
{{!-- Add code in here for if someone selects the leave a comment button --}}

{{!-- {{/if}} --}}

{{!-- {{#if}}
{{!-- Add code in here for if this post has comments listed already. --}}

{{!-- {{/if}} --}}