<h3 class="text-center m-4">Dashboard</h3>

<div>
    <button type="submit" class="btn btn-primary" id="create-blog-btn">Create New Blog</button>
</div>
{{!-- for some reason, only the one on top works.  This is frustraiting. --}}
{{!-- shows active posts for current user --}}
{{#if blogposts.length}}
<h4 class="m-1">MY BLOGS</h4>
{{#each blogposts as |blogpost|}}
<div class="container blog-post ">
    <div class="card text-bg-dark mb-3 m-2" style="max-width: 80%">
        <h5 class="card-header text-bg-dark mb-3"><a href="/blogPost/{{blogpost.id}}">{{blogpost.title}}</a>
            <div class="text-start fs-6">{{format_date blogpost.date_created}}</div>
        </h5>
        {{!-- Update Blog Section. To appear only once Update is clicked. --}}
        <div class="container update hide">

            <div class="card text-bg-secondary mb-3 m-2" style="max-width: 80%">
                <h5 class="card-header text-bg-secondary mb-3">UPDATE Blog</h5>

                <div class="card-body text-bg-light mb-3">
                    <form class="form update-form" data-id="{{blogpost.id}}">
                        <div class="card-body text-bg-light mb-4">
                            <div class="form-group m-2">
                                <label class="form-label current-content" for="current-content">current content:</label>
                                <div class="col-8" id="current-content" name="current-content">{{blogpost.content}}
                                </div>
                            </div>
                            <div class="form-group m-2">
                                <label class="form-label title" for="blog-title">update blog title:</label>
                                <input class="form-input col-8" type="text" id="blog-title" name="blog-title" />
                            </div>
                            <div class="form-group m-2">
                                <label class="form-label content" for="blog-content">update content:</label>
                                <textarea class="form-input col-8" id="blog-content" name="blog-content"></textarea>
                            </div>
                            <div class="form-group m-2">
                                <button type="submit" id="submit-update-btn" class="btn btn-primary"
                                    data-id="{{blogpost.id}}">Submit Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        {{!-- Update button for future use. --}}
        <button class="btn btn-sm btn-secondary" id="update-btn" type="button" data-id="{{blogpost.id}}">UPDATE</button>
        <button class="btn btn-sm btn-danger blog-list delete-btn" id="delete-btn" type="button"
            data-id="{{blogpost.id}}">DELETE</button>
    </div>
</div>
{{/each}}
{{/if}}

{{!-- form to create a new blog --}}
<div class="container blog-form hide">
    <form class="form new-blog-form">
        <div class="card form-group text-bg-dark mb-3 m-2" style="max-width: 90%">
            <h5 class="card-header text-bg-dark mb-3">Create a New Blog Post:</h5>

            <div class="card-body text-bg-light mb-4">
                <div class="form-group m-2">
                    <label class="form-label" for="new-blog-title">blog title:</label>
                    <input class="form-input col-8" type="text" id="new-blog-title" name="new-blog-title" />
                </div>
                <div class="form-group m-2">
                    <label class="form-label" for="new-blog-content">content:</label>
                    <textarea class="form-input col-8" id="new-blog-content" name="new-blog-content"></textarea>
                </div>
                <div class="form-group m-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>









<script src="./js/dashboard.js"></script>